{% extends 'base.html' %}

{% block templateContent %}
    <form action="{{ url_for('account.register') }}" method="post" enctype="multipart/form-data"
          style="margin: 25px; color: black; display: flex; flex-direction: column">
        username{{ form.username }}
        password{{ form.password }}
        first_name{{ form.first_name }}
        last_name{{ form.last_name }}
        email{{ form.email }}
        is_company{{ form.is_company }}
        image{{ form.image }}
        {{ form.csrf_token }}
        submit{{ form.submit }}
    </form>

    {% for field, errors in form.errors.items() %}
        <div style="color: black">
            {{ form[field].label }}: {{ ', '.join(errors) }}
        </div>
    {% endfor %}

{% endblock %}
