.indexHeader{
    text-align: center;
    color: var(--brand-light);
    font-weight: normal;
}

.cardHeader{
    font-size: 32px;
    text-align: center;
    color: var(--brand-light)
}

.cardDescription{
    text-align: center;
    color: var(--brand-little-light);
}

.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url("../../image/image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--brand-dark) 0 0 5px 0

}

.card{
    margin: 50px 0;
    color: var(--brand-light);
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    /*border: 1px solid transparent;*/
    transition: 0.2s ease-in;
    width: 20%;
    overflow: visible;
    text-align: center;
    border-radius: 4px;
}


.card > i{
    color: var(--brand-black);
    font-size: 128px;
    margin: 10px 0;
    transition: .4s;
}

.card a {
    margin: 10px 0;
    border: 2px solid var(--brand-black);
    padding: 13px 5px;
    border-radius: 5px;
    color: var(--brand-black);
    font-weight: bold;
    transition: .4s;
}

.card a:hover{
    color: var(--brand-light);
    transition: .4s;
    background-color: var(--brand-black);
    transform: scale(1.05);

}

.offersContainer{
    display: flex;
    margin: 25px 0;
    flex-direction: column;
    padding: 25px;
    background-color: var(--brand-light);
    border-radius: 5px;

}

.offerContainer{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    border: 2px solid var(--brand-little-light);
    background-color: var(--brand-light);
    padding: 10px;
    border-radius: 5px;
    transition: .2s;
}

.offerContainer > div>p:first-child{
    font-weight: bold;
}

.offerContainer:hover{
    /*background-color: var(--brand-little-light);*/
    transition: .2s;
    border-left: var(--brand-blue) 2px solid;
}


.offerHeader{
    background-color: var(--brand-blue);
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    margin-bottom: 0;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    margin: auto;
}

body{
    background-color: var(--brand-little-dark)
}

@media screen and (max-width: 800px) {
    .container{
        width: 100%;
    }
}

.onBorderInfo{
    position: absolute;
    background-color: var(--brand-light);
    font-weight: bold;

}

.onBorderInfoCenter{
    transform: translate(0, -50%);
    top: 0;
}

.onBorderInfoRight{
    transform: translate(0, -50%);
    top: 0;
    right: 1%;
}

.onBorderInfoLeft{
    transform: translate(0, -50%);
    top: 0;
    left: 1%;
}

.onBorderInfoDownRight{
    transform: translate(0, 50%);
    bottom: 0;
    right: 1%;
    display:none;
}

.box{
    width: 25%;
}

.box > p {
        white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.imgBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgBox > img {
    width: 50px;
    max-height: 50px;
}

@media screen and (max-width: 993px) {
    .card{
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .offerContainer{
        flex-direction: column;
    }
    .cardContainer {
        flex-direction: column;
    }

    .card{
        width: 100%;
    }

    .imgBox{
        display: none;
    }

    .box{
        width: 100%;
    }

    .onBorderInfoDownRight{
        display: initial;
    }

    .locationDisplayNone{
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .cardContainer {
        flex-direction: column;
    }

    .card{
        width: 100%;
    }

    .container{
        width: 100%;
    }
}




