.offersContainer{
    display: flex;
    margin: 25px 0;
    flex-direction: column;
    padding: 25px;
    background-color: var(--brand-light);
    border-radius: 5px;

}

.offerContainer{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid var(--brand-little-light);
    background-color: var(--brand-light);
    padding: 10px;
    border-radius: 5px;
    transition: .2s;
}

a > .offerContainer:first-child{
    margin: 0;
}

.offerContainer > div>p:first-child{
    font-weight: bold;
}

.offerContainer:hover{
    /*background-color: var(--brand-little-light);*/
    transition: .2s;
    border-left: var(--brand-blue) 2px solid;
}


.offerHeader{
    background-color: var(--brand-blue);
    text-align: center;
    padding: 25px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 0;
    position: relative;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1000px;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .container{
        width: 800px;
    }
}

.onBorderInfo{
    position: absolute;
    background-color: var(--brand-light);
    font-weight: bold;

}

.onBorderInfoCenter{
    transform: translate(0, -50%);
    top: 0;
}

.offersContainer > a:first-child {
    margin: 0;
}

.onBorderInfoRight{
    transform: translate(0, -50%);
    top: 0;
    right: 1%;
}

.onBorderInfoLeft{
    transform: translate(0, -50%);
    top: 0;
    left: 1%;
}

.onBorderInfoDownRight{
    transform: translate(0, 50%);
    bottom: 0;
    right: 1%;
    display:none;
}

.box{
    width: 25%;
}

.box > p {
        white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.imgBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgBox > img {
    width: 50px;
    max-height: 50px;
}


@media screen and (max-width: 600px) {
    .offerContainer{
        flex-direction: column;
    }

    .imgBox{
        display: none;
    }

    .box{
        width: 100%;
    }

    .onBorderInfoDownRight{
        display: initial;
    }

    .locationDisplayNone{
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .cardContainer {
        flex-direction: column;
    }

    .card{
        width: 100%;
    }

    .container{
        width: 100%;
    }
}

.offersContainer > a {
    margin-top: 40px;
}




