{% extends 'base.html' %}

{% block title %}szukajspecjalisty | oferty{% endblock %}




{% block stylesheets %}
    <link href="{{ url_for('offer.static', filename='css/offer/offers.css') }}" rel="stylesheet">
    <link href="{{ url_for('offer.static', filename='external/fontawesome-free-5.11.2-web/css/all.css') }}"
          rel="stylesheet">
{% endblock %}




{% block templateContent %}
    {% with offerHeader = "Filtruj wszystkie oferty", showFilters = True %}
        {% include "./partials/offers.html" %}
    {% endwith %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        window.addEventListener('load', () => {
            document.querySelectorAll(
                'input[id^="show"]').forEach((elem) => {
                elem.addEventListener('click', allowUncheck);
                elem.previous = elem.checked;
            });

            function allowUncheck(e) {
                if (this.previous) {
                    this.checked = false;
                }
                document.querySelectorAll(
                    `input[id^="show"]`).forEach((elem) => {
                    elem.previous = elem.checked;
                });
            }
        });


    </script>
{% endblock %}
