<div class="cardContainer">
    <div class="card cardLeft">
            <span class="cardHeader">
                Dla Specjalisty
            </span>

        <i class="fas fa-laptop"></i>

        <span class="cardDescription">
                Tutaj znajdziesz ogłoszenia i zlecenia dodawane każdego dnia przez dziesiąstki osób z kraju i zagranicy.
            </span>

        <a class="button specialistButton" href="{{ url_for('offer.offers_show') }}">Szukaj zleceń lub ogłoszeń</a>
        <a class="button employerButton" href="{{ url_for('offer.offer_add') }}">Dodaj ogłoszenie</a>

    </div>

    <div class="card cardRight">
            <span class="cardHeader">
                Dla Zleceniodawcy
            </span>

        <i class="fas fa-briefcase"></i>

        <span class="cardDescription">
                W tej sekcji znajdziesz wielu doświadczonych specjalistów, którzy z chęcią wykonają Twoje pomysły/projekty.
            </span>

        <a class="button employerButton" href="#">Szukaj specjalisty</a>
        <a class="button employerButton" href="{{ url_for('offer.offer_add') }}">Dodaj oferte</a>
    </div>


</div>