<style>
    .filtersContainer {
        display: flex;
        justify-content: space-between;
    }


    .filterContainer {
        display: flex;
        width: 24%;
        flex-direction: column;
    }


    .filtersContainer > form {
        width: 100%;
        background-color: var(--brand-light);
    }

    .filterTypeField input {
        padding: 7px;
    }


    .showFiltersButton {
        padding: 10px 17px;
        text-align: center;
        border: 2px solid var(--brand-light);
        border-radius: 5px;
        transition: .2s;

    }

    .showFiltersButton:hover {
        background-color: var(--brand-light);
        color: var(--brand-blue);
        transition: .2s;
        font-weight: bold;
        cursor: pointer;
    }

    input[id^="show"] {
        display: none;
    }

    input[id^="show"]:not(checked) + .showFiltersButton + .filter {
        transition: .2s;
        opacity: 0;
        display: none;
        align-items: start;
    }

    input[id^="show"]:checked + .showFiltersButton + .filter {
        display: flex;
        opacity: 1;
        height: 200px;
        transition: .2s;
        align-items: start;
    }


    input[id^="show"]:checked + .showFiltersButton {
        background-color: var(--brand-light);
        color: var(--brand-blue);
        font-weight: bold;
    }


    .filter {
        display: flex;
    }

    .filter > ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .filter > label {
        margin-left: 15px;
    }

    .filter > label:first-child {
        margin-left: 0;
    }


    .filter > ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        flex-wrap: wrap;
        padding: 0;
    }

    .filter > ul > li {
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    .filter > ul > li > input {
        width: 25px;
        height: 25px;
    }

    .filter > ul > li > label {
        text-align: left;
    }

    .basicFilters {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin: 30px 0;
        flex-wrap: wrap;
    }


    .basicFilterWrapper {
        flex: 0 0 49%;
    }

    .basicFilterWrapper > input {
        margin: 15px 0;
        padding: 5px 10px;
        background-color: initial;
        border: none;
        border-bottom: 2px solid var(--brand-light);;
        color: var(--brand-light);
        font-size: 16px;
        transition: .2s;
        width: 100%;
        font-weight: bold;
    }


    .basicFilterWrapper > input:focus {
        transform: scale(1.02);
        transition: .2s;
    }

    .basicFilterWrapper > input::placeholder {
        color: var(--brand-light);
        font-weight: bold;
        opacity: 0.6;
    }

    .basicFilterWrapper {
        position: relative;
    }

    .basicFilterWrapper > input:focus ~ .floatingLabel {
        top: 0;
        left: 5px;
        font-size: 11px;
        opacity: 1;
    }

    .basicFilterWrapper > input:focus ~ .floatingLabel {
        top: 0;
        left: 5px;
        font-size: 11px;
        opacity: 1;
    }



    @media screen and (max-width: 800px) {

        input[id^="show"]:not(checked) + .showFiltersButton + .filter {
            display: none;
            height: initial;
        }

        input[id^="show"]:checked + .showFiltersButton + .filter {
            display: flex;
            align-items: center;
            height: initial;
        }


        input[id^="show"]:checked + .showFiltersButton {
            background-color: var(--brand-light);
            color: var(--brand-blue);
            font-weight: bold;
        }

        .filterContainer {
            display: flex;
            width: 100%;
            flex-direction: column;
            margin: 3px 0;
        }

        .filtersContainer {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

        }

        .basicFilterWrapper {
            flex: 0 0 100%;
        }
    }

</style>

<form method="post">
    <div class="basicFilters">
        <div class="basicFilterWrapper">
            {{ filters_form.title(placeholder="Podaj tytuł oferty") }}
        </div>

        <div class="basicFilterWrapper">
            {{ filters_form.money(placeholder="Minimalne zarobki brutto") }}
        </div>

        <div class="basicFilterWrapper">
            {{ filters_form.location(placeholder="Lokalizacja") }}
        </div>

        <div class="basicFilterWrapper">
            {{ filters_form.employer_name(placeholder="Nazwa pracodawcy") }}
        </div>

    </div>

    <div class="filtersContainer">
        <div class="filterContainer"><input type="radio" id="showCategories" name="showFiltersButton">
            <label id="categoryFilter" for="showCategories" class="showFiltersButton">Kategorie</label>
            <div class="filter">
                {{ filters_form.categories }}
            </div>
        </div>
        <div class="filterContainer"><input type="radio" id="showCurrencies" name="showFiltersButton">
            <label id="currencyFilter" for="showCurrencies" class="showFiltersButton">Waluty</label>

            <div class="filter">
                {{ filters_form.currencies }}
            </div>
        </div>
        <div class="filterContainer"><input type="radio" id="showPayments" name="showFiltersButton">
            <label id="paymentFilter" for="showPayments" class="showFiltersButton">Rodzaje płatności</label>

            <div class="filter">
                {{ filters_form.payments }}
            </div>
        </div>
        <div class="filterContainer"><input type="radio" id="showTypes" name="showFiltersButton">
            <label id="typeFilter" for="showTypes" class="showFiltersButton">Typ oferty</label>


            <div class="filter">
                {{ filters_form.types }}
            </div>
        </div>


    </div>
    {{ filters_form.csrf_token }}
    <style>
        .submitButton {
            display: flex;
            margin-top: 25px;
        }

        .submitButton > input[type="submit"] {
            padding: 10px 15px;
            flex: 1;
        }

        .submitButton > input[type="submit"] {
            color: var(--brand-light);
            border: 1px solid var(--brand-light);
            background-color: inherit;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
            position: relative;
            z-index: 99999999;
            transition: .2s;
            font-size: 16px;
        }

        .submitButton > input[type="submit"]:hover {
            background-color: var(--brand-light);
            color: var(--brand-blue);
            cursor: pointer;
            transition: .2s;
            font-weight: bold;
        }


    </style>
    <div class="submitButton">
        {{ filters_form.submit }}
    </div>


</form>
