 <style>
            .filtersContainer {
                display: flex;

            }

            .filterContainer {
                display: flex;
                flex-direction: column;
                padding: 10px 0;
            }


            .filterContainer > span {
                font-weight: bold;
                text-align: left;
            }

            .filter {
                display: flex;
            }

            .filter > label {
                margin-left: 15px;
            }

            .filter > label:first-child {
                margin-left: 0;
            }

            .filterSubmit {
                display: flex;
                justify-content: center;
            }

            .filtersContainer > form {
                width: 100%;
            }

            .filterTypeField > label{
                display: flex;
                flex-direction: column;
            }

            .offerData{
                width: 100%;
            }

            .filterTypeField input{
                padding: 7px;
            }

            #showFilters{
                display:none;
            }

            #showFilters:checked + .filtersContainer{
                display: flex;
            }

            #showFilters:not(:checked) + .filtersContainer{
                display: none;

            }

            .showFiltersButton{
                padding: 5px 10px;
                text-align: center;
                border: 1px solid var(--brand-blue);
                border-radius: 5px;
                transition: .2s;

            }

            .showFiltersButton:hover{
                background-color: var(--brand-blue);
                color: var(--brand-light);
                transition: .2s;
                cursor: pointer;
            }

        </style>
        <label id="filter" for="showFilters">
        <div class="showFiltersButton">Show/Hide Filters</div>
        </label>
        <input type="radio" id="showFilters">
        <div class="filtersContainer">
            <form>

                <div class="filterContainer">
                    <div class="filter filterTypeField">
                        <label for="offerData" class="offerData">
                            Tytuł, lokalizacja lub nazwa firmy (oddzielone przecinkami)
                            <input type="text" name="offerData" id="offerData">

                        </label>
                    </div>
                </div>

                <div class="filterContainer">
                    <div class="filter filterTypeField">
                        <label for="money">
                            Minimalne zarobki(brutto)
                            <input type="number" name="money" id="money">
                        </label>
                    </div>
                </div>

                <div class="filterContainer">
                    <span>Kategorie</span>
                    <div class="filter">

                        {% for category in categories %}
                            <label for="{{ category.name }}">
                                <input id="{{ category.name }}" type="checkbox" value="{{ category.id }}">
                                {{ category.name }}
                            </label>
                        {% endfor %}
                    </div>
                </div>

                <div class="filterContainer">
                    <span>Waluty</span>
                    <div class="filter">
                        {% for currency in currencies %}
                            <label for="{{ currency.currency }}">
                                <input type="radio" value="{{ currency.id }}" id="{{ currency.currency }}">
                                {{ currency.currency }}
                            </label>
                        {% endfor %}
                    </div>
                </div>

                <div class="filterContainer">
                    <span>Typy ofert</span>
                    <div class="filter">
                        {% for offer_type in offer_types %}

                            <label for="{{ offer_type.name }}">
                                <input type="radio" value="{{ offer_type.id }}" id="{{ offer_type.name }}">
                                {{ offer_type.name }}
                            </label>
                        {% endfor %}
                    </div>
                </div>

                <div class="filterContainer">
                    <span>Typy płatności</span>
                    <div class="filter">
                        {% for offer_payment in offer_payments %}
                            <label for="{{ offer_payment.name }}">
                                <input type="radio" value="{{ offer_payment.id }}" id="{{ offer_payment.name }}">
                                {{ offer_payment.name }}
                            </label>
                        {% endfor %}
                    </div>
                </div>

                <div class="filterSubmit">
                    <input type="submit" value="Filtruj!">
                </div>


            </form>
        </div>