<style>
    .messageWrapper{
        display: flex;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        flex-direction: column;
        background-color: rgb(20, 20, 200);
        color: var(--brand-light);
        padding: 10px 15px;
        justify-content: center;
    }

    .message{
        text-align: center;
    }

</style>

{% with messages = get_flashed_messages() %}
  {% if messages %}

    <div class="messageWrapper">
    {% for message in messages %}
      <div class="message">{{ message }}</div>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}