<form action="{{ url_for('offer.offer_add') }}" method="post" enctype="multipart/form-data"
      style="margin: 25px; color: black; display: flex; flex-direction: column">
    title {{ form.title }}
    desc {{ form.description }}
    gross pay from(fill only this field if dont want money compartment): {{ form.money }}
    gross pay up to: {{ form.money_max }}
    category {{ form.categories }}
    offer type {{ form.types }}
    offer currency {{ form.currencies }}
    offer payments {{ form.payments }}
    location {{ form.location }}
    employer name: {{ form.employer_name }}
    is here possibility of FULLY remote work?: {{ form.remote }}
    employer brand: {{ form.image }}
    {{ form.csrf_token }}
    {{ form.submit }}
</form>
{% for field, errors in form.errors.items() %}
    <div style="color: black">
        {{ form[field].label }}: {{ ', '.join(errors) }}
    </div>
{% endfor %}