<div class="container">
    <div class="offerHeader">
        {% if offerHeader %}
        <h1>{{ offerHeader }}</h1>
        {% endif %}

        {% if showFilters %}
            {% include "./partials/filters.html" %}
        {% endif %}
    </div>


    <div class="offersContainer" style="color:black;">
        {% for offer in offers %}
            <a href="{{ url_for('offer.offer_show', slug=offer.slug) }}">
                <div class="offerContainer">
                    <div class="imgBox">
                        <img src="{{ offer.img_path }}">
                    </div>
                    <div class="box">
                        <p>{{ offer.title }}</p>
                        <p>{{ offer.employer_name }}</p>

                    </div>
                    <div class="box">
                        <p>Salary</p>
                        <p>
                            {% if offer.money_max %}
                                {{ offer.money }} - {{ offer.money_max }} {{ offer.offer_currency_type.currency }} /
                                {{ offer.offer_payment_type.suffix }}
                            {% else %}
                                {{ offer.money }}  {{ offer.offer_currency_type.currency }} /
                                {{ offer.offer_payment_type.suffix }}
                            {% endif %}
                        </p>
                    </div>

                    <div class="box locationDisplayNone">
                        <p>Location</p>
                        <p>{{ offer.location }}</p>
                    </div>

                    <div class="onBorderInfo onBorderInfoCenter">{{ offer.offer_type.name }}</div>
                    <div class="onBorderInfo onBorderInfoDownRight">{{ offer.location }}</div>
                </div>
            </a>


        {% endfor %}

        {% if showAllOffersHeader %}
            <a style="color: white" href="{{ url_for('offer.offers_show') }}">
                <h1 style="background-color: rgba(247, 202, 24, 1)" class="offerHeader">{{ showAllOffersHeader }}</h1>
            </a>
        {% endif %}

    </div>
</div>