* {
    box-sizing: border-box;
}

:root {
    --brand-black: rgba(0, 0, 0, 0.8);
    --brand-light: rgba(239, 239, 239, 0.9);
    --brand-little-light: rgba(200, 200, 200, 0.9);
    --brand-little-dark: rgba(169, 169, 169, 0.4);
    --brand-dark: rgba(50, 50, 50, 1);
    --brand-blue: rgba(20, 20, 200, 0.6);
}

body, html{
    padding: 0;
    margin: 0;
    background-color: var(--brand-little-dark);
    color: var(--brand-light);
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover
{
    text-decoration:none;
}
a:active{
    text-decoration: none;
    color: inherit;
}