footer {
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: var(--brand-light);
    background-color: var(--brand-black);
    padding: 25px 10px;
}

footer > .footerCompanyInformation{
    display: flex;
    flex-direction: column;
}

footer > .footerContact{
    display: flex;
    flex-direction: column;
}

footer > .footerHelp{
    display: flex;
    flex-direction: column;
}

footer > .footerSocial{
    display: flex;
    flex-direction: column;
}

footer a, footer span {
    padding: 5px;
}
