nav {
    color: var(--brand-light);
    position: sticky;
    background-color: var(--brand-black);
    padding: 8px 0;
    box-shadow: var(--brand-black) 0 1px 3px 0;
}

.navHeader{
    font-size: 32px;
    font-weight: bold;
}

.navAnchors{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navAnchors > a{
    margin-right: 25px;

}

.navAnchors > a:hover{
    color: var(--brand-little-dark);
}
