<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="lang" content="pl">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- base css files -->
    <link href="{{ url_for('offer.static', filename='css/navbar.css') }}" rel="stylesheet">
    <link href="{{ url_for('offer.static', filename='css/base.css') }}" rel="stylesheet">
    <link href="{{ url_for('offer.static', filename='css/footer.css') }}" rel="stylesheet">
    <link href="{{ url_for('offer.static', filename='css/offer/index.css') }}" rel="stylesheet">
    <link href="{{ url_for('offer.static', filename='external/fontawesome-free-5.11.2-web/css/all.css') }}" rel="stylesheet">

    <!-- templates css files -->
    {% block stylesheets %}{% endblock %}
</head>

<!-- body -->
<body>
<!-- nav goes here -->
{% block nav %} {% include "navbar.html" %} {% endblock %}
{% include './partials/card_header.html' %}

<!-- templateContent goes here -->
{% block templateContent %}{% endblock %}

<!-- footer goes here -->
{% include './partials/flash_messages.html' %}
{% block footer %} {% include "footer.html" %} {% endblock %}

<!-- js goes here -->
{% block javascripts %}{% endblock %}
</body>
</html>
