<footer>
    <div class="footerCompanyInformation">
        <span>VROCode</span>
        <a>+48 736-655-703</a>
        <span>ul. Mikołaja Kopernika 9</span>
        <span>Lublewo Gdańskie</span>
    </div>

    <div class="footerContact">
        <a>O NAS</a>
        <a>KONTAKT</a>
        <a>DLA INWESTORÓW</a>
    </div>

    <div class="footerHelp">
        <a>Polityka Prywatności</a>
        <a>FAQ</a>
        <a>REGULAMIN</a>
    </div>

    <div class="footerSocial">
    </div>
</footer>