<nav>
    <div class="navAnchors">
        <a href="{{ url_for('offer.index') }}">
            Strona główna
        </a>

        <a href="{{ url_for('offer.offers_show') }}">
            Szukaj ofert
        </a>

        <a href="{{url_for('specialist.specialists_show')}}">
            Szukaj specjalisty
        </a>

        <a href="{{ url_for('offer.offer_add') }}">
            Dodaj oferte
        </a>

        {% if current_user.is_authenticated %}
            <a href="{{ url_for('account.logout') }}"> Log Out</a>
        {% else %}
            <a href="{{ url_for('account.login') }}">Log In</a>
            <a href="{{ url_for('account.register') }}">Sign Up</a>
        {% endif %}


    </div>

</nav>